<label><%= form_question_header(@question) %></label>
<%= render 'shared/errors', resource: @question %>
<%= form_with model: [@test, @question],
              local: true do |form| %>
  <%= form.text_field :body %>
  <%= form.submit "Submit" %>
<% end %>
