<%= form_with method: :post, url: test_questions_path(@test) do |form| %>
  <br/>
  <%= form.label 'Create new question' %>
  <br/>
  <%= form.text_field :body, name: "question[body]" %>
  <br/>
  <%= form.submit "Create"%>
  <br/>
  <a href="<%= test_questions_path(@test) %>"> back to all questions</a>
<% end %>
