<h1><%= t('.name') %>: <%= @badge.name %></h1>
<label>
  <%= t('.icon') %>: <%= image_tag(@badge.url, size: '25x25') %>
</label>
<br/>
<label><%= t('.description') %>: <%= @badge.description %></label>
<br/>
<label><%= t('.category') %>: <%= @badge.category&.title || 'None selected' %></label>
<br/>
<label><%= t('.circumstance') %>: <%= from_index_to_readable(@badge.circumstance) %></label>
<br/>
<%= link_to t('.back'), admin_badges_path %>
