<h1><%= t('.badges') %></h1>
<h2><%= t('.received_badges') %></h2>
<%= render 'badges_table', resource: @badges_received %>

<h2><%= t('.not_received_badges') %></h2>
<%= render 'badges_table', resource: @badges_not_received %>
