  <nav class="nav-container">
    <a style="color: #2E2F30" href="<%= root_path %>">
      <h1>
        Test guru
      </h1>
    </a>
    <span class="nav-container">
      <% if user_signed_in? %>
        <span class="nav user">Welcome <%= current_user.email %> guru</span>
        <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Signin', new_user_session_path, class: 'nav user' %>
        <%= link_to 'Singup', new_user_registration_path %>
      <% end %>
    </span>
  </nav>
