<%= form_with(model: [:admin, @question, @answer]) do |form| %>
  <%= render 'shared/errors', resource: @answer %>

  <%= form.label t('.answer_body') %>
  <%= form.text_field :body, id: :answer_body %>

  <div class="actions">
    <%= form.submit t('.submit') %>
  </div>
<% end %>
