<% if resource.empty? %>
  <p><%= t('.no_questions') %></p>
<% else %>
  <p><%= t('.questions_count', count: pluralize(resource.count, 'question')) %></p>
<% end %>
<table>
  <tr>
    <th>
      <%= t('.questions') %>
    </th>
    <th>
      <%= t('.actions') %>
    </th>
  </tr>
  <%= render resource %>
</table>
