<p><%= t('.hello') %> <%= @resource.email %>!</p>

<p><%= t('.change_requested') %></p>

<p><%= link_to t('.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.ignore') %></p>
<p><%= t('.password_wont_change') %></p>
