<label><%= form_test_header(@test) %></label>
<%= form_with model: [:admin, @test] do |form|%>
  <%= render 'shared/errors',
             resource: @test,
             local: true
  %>
  <%= form.label t('.label') %>
  <%= form.text_field :title %>
  <br/>
  <%= form.label t('.level') %>
  <%= form.number_field :level, min: 1, value: @test.new_record? ? 1 : @test.level %>
  <br/>
  <%= form.label t('.category') %>
  <%= form.collection_select :category_id, Category.all, :id, :title, prompt:  @test.new_record? %>
  <br/>
  <%= form.submit t('.submit') %>
<% end %>
