<label><%= t('.tests') %></label>
<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.category') %></th>
    <th colspan="4"><%= t('.actions') %></th>
  </tr>

  <%= render @tests  %>
</table>
<%= link_to t('.create'), new_admin_test_path %>
