<h3><%= t('.tests') %></h3>
<table class="table table-hover">
  <tr>
    <th scope="col" class="sort-by-title pointer">
      <%= t('.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th scope="col" class="sort-by-title pointer">
      <%= t('.category') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th scope="col" class="sort-by-title pointer">
      <%= t('.time_limit') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th scope="col" colspan="2">
      <%= t('.actions') %>
    </th>
  </tr>
  <%= render @tests  %>
</table>
